body{
    background-color: #F3FFFE;
}
.h{
    text-align: center;
    color: #3f3844;
}
.p{
    font-size: 18px;
    
}
.a{
    color:royalblue;
}
.table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 15px;
    background-color: #F7F7F7;
    color:#3f3844 ;
}
.table{
    width: 100%;
}
.form{
    width: 50%;
    background-color: #F7F7F7;
    color: #3f3844;
    margin-left: 25%;
    
}
.n{
    text-align: center;
}